html{
    background-color: rgb(219, 226, 207);
  }
  
  .LeftNav{
    display: flex;
  }
  .Navbar{
    display:flex;
    margin-top: 20px;
  }
  .NavLink a{
    text-decoration: none;
    font-size: 18px;
    color:black;
    margin-left: 40px;
    font-family: "Playwrite PE";
    font-weight: 400;
  }
  
  .HomeLink a{
    text-decoration: none;
    font-size: 19px;
    color: black;
    margin-left: 360px;
    font-family: "Playwrite PE";
    font-weight: 400;
}

.Footer{
    background-color: rgb(31, 74, 1);
    padding: 10px;
    margin-top: 100vh;
  }
  
  .Footer a{
    color: white;
    font-size: 17px;
    text-decoration: none;
  }
  
  .Footer li{
    text-decoration: none;
  }
  
  .Footer ul{
    list-style: none;
  }
  
  .Footer a:hover{
    text-decoration: underline;
  }

  .CalendarBox{
    display: flex;
    margin-top: 70vh;
  }

  .Calendarrep{
    margin-left:30vw;
  }

  .CalendarText{
    margin-left: 10px;
    font-family: "Playwrite PE";
    font-size: 32px;
    width: 45vw;
  }

  .row{
    display: flex;
  }
  
  .Square{
    width: 80px;
    height: 80px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: rgb(240, 240, 240);  
    font-size: 15px; 
  }

  .Square h1.date{
    margin-left:14px;
  }

  .Square:hover{
    background-color: rgba(1, 113, 147, 0.46);
    font-size: 16px;
  }

.Reminder{
  border-radius:20px;
  width:400px;
  height:fit-content;
  padding:10px;
  background-color: rgb(165, 185, 122);
  color:rgb(39, 55, 8);
  margin-left: 35vw;
  margin-top: 40vh;
}  

.Reminderbox h1{
  margin-left:30px;
}

.ReminderLogin{
  width: 100px;
  height: 40px;
  border:2px solid rgb(149, 167, 111);
  border-radius: 20px;
  margin-left: 160px;
  }

  .ReminderLogin:hover{
    background-color: rgb(78, 114, 1);
    border:2px solid rgb(78, 114, 1);
    color: white;
  }