<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="/stylesheets/calendar.css">
</head>
<body>
    <div class="calendar">
        <div class="header">
            <button id="prev">&lt;</button>
            <h2 id="month-year"></h2>
            <button id="next">&gt;</button>
        </div>
        <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="days" id="days"></div>
    </div>
    <div class="todo-list">
        <h3>Vaccination reminders for <span id="selected-date"></span></h3>
        <ul id="todo-items"></ul>
        <input type="text" id="Vaccination" placeholder="Vaccination reminder">
        <button id="add-vaccination">Add</button>
    </div>
    <script src="/javascript/calendar.js"></script>
</body>
</html>
