<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="loginBox">
        <div class="login">
            <form action="/signup" method="post">
            <input type="text" name="username" id="username" placeholder="enter username">
            <input type="email" name="email" placeholder="enter email-id">
            <br>
            <input type="password" name="password" placeholder="password">
            <br>
            <button type="submit">Login</button>
        </form>
        <h4>Existing account <a href="/login"> Login? </a></h4>
        </div>
        <div class="loginGraphic">
            <img src="/assets/logo.png" alt="">
        </div>

    </div>
</body>
</html>