<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends</title>
    <link rel="stylesheet" href="/frontend/public/stylesheets/landingPage.css">
</head>

<body>
    <div class="navbar">
        <img src="/frontend/public/assets/logo.png" alt="logo">
        <div class="navLinks">
            <ul>
                <li>
                    <a href="/aboutus">About Us</a>
                </li>
                <li>
                    <a href="/services">Services</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="hero">
        <div class="heroIntro">
            <h1>Your pet <br>Care Center</h1>
            <h2>All round care for your <br>pet friends</h2>
        </div>
        <div class="heroImg">
            <img src="https://c2.staticflickr.com/8/7559/15633818714_75938fe113_b.jpg"
                alt="dog and cat in doctor's hand">
        </div>
    </div>
    <div class="services">
        <div class="serviceCard">
            <img src="/frontend/public/assets/care.png" alt="heart with arms hug">
            <h2>Care buddy</h2>
            <p>Find pet sitters near you.</p>
            <a href="/carebuddy">Learn more</a>
        </div>
        <div class="serviceCard">
            <img src="/frontend/public/assets/doctor.png" alt="dog care">
            <h2>Doctor care</h2>
            <p>Book care appointments</p>
            <a href="/doctor">Learn more</a>
        </div>
        <div class="serviceCard">
            <img src="/frontend/public/assets/paw.png" alt="animal paw">
            <h2>Vaccination</h2>
            <p>Set vaccination reminders</p>
            <a href="/vaccination">Learn more</a>
        </div>
    </div>
    <div class="careBuddy">
        <div class="careBuddyHero">
            <h1>Let's find you a<br> care buddy</h1>
            <img src="/frontend/public/assets/paw.png" alt="">
        </div>
        <h2>Find pet sitters near you.Hassle free.Simple.Reliable</h2>
        <a href="/carebuddy">Find now</a>
    </div>
    <div class="doctor">
        <div class="doctorHero">
            <h1>Book appointments <br>for vets near you</h1>
            <img src="/frontend/public/assets/doctor.png" alt="healthcare logo">
        </div>
        <h2>Book appointments with vets.Hassle free.Simple.Reliable</h2>
        <a href="/doctor">Book now</a>
    </div>
    <div class="vaccination">
        <div class="vaccinationHero">
            <h1>Set reminders<br>for pet vaccination</h1>
            <img src="/frontend/public/assets/petCare.png" alt="healthcare logo">
        </div>
        <h2>Set reminders for vaccination.Hassle free.Simple.Reliable</h2>
        <a href="/vaccination">Set now</a>
    </div>
    <footer>
        <div class="logo">
            <img src="/frontend/public/assets/logo.png" alt="">
        </div>
        <div class="links">
                <div class="box">
                    <ul>
                    <li>
                        <a href="/aboutus">About us</a>
                    </li>
                    <li>
                        <a href="/signup/doctor">For doctors</a>
                    </li>
                    <li>
                        <a href="/signup/buddy">For care buddies</a>
                    </li>
                </ul>
                </div>
                <div class="box">
                    <ul>
                    <li>
                        <a href="/vaccination">Vaccination</a>
                    </li>
                    <li>
                        <a href="/doctor">Book appointment</a>
                    </li>
                    <li>
                        <a href="/carebuddy">Find care givers</a>
                    </li>
                </ul>
                </div>
            </ul>
        </div>
    </footer>
</body>

</html>