<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends</title>
    <link rel="stylesheet" href="/frontend/public/stylesheets/login.css">
</head>
<body>
    <div class="loginBox">
        <div class="login">
            <form action="/login">
            <input type="email" name="email" placeholder="registered email-id">
            <br>
            <input type="text" name="password" placeholder="password">
        </form>
        </div>
        <div class="loginGraphic">
            <img src="/frontend/public/assets/paw.png" alt="">
        </div>

    </div>
</body>
</html>