html{
    background-color: rgb(219, 226, 207);
  }
  
  .LeftNav{
    display: flex;
  }
  .Navbar{
    display:flex;
    margin-top: 20px;
  }
  .NavLink a{
    text-decoration: none;
    font-size: 18px;
    color:black;
    margin-left: 40px;
    font-family: "Playwrite PE";
    font-weight: 400;
  }
  
  .HomeLink a{
    text-decoration: none;
    font-size: 19px;
    color: black;
    margin-left: 360px;
    font-family: "Playwrite PE";
    font-weight: 400;
}

.Footer{
    background-color: rgb(31, 74, 1);
    padding: 10px;
    margin-top: 100vh;
  }
  
  .Footer a{
    color: white;
    font-size: 17px;
    text-decoration: none;
  }
  
  .Footer li{
    text-decoration: none;
  }
  
  .Footer ul{
    list-style: none;
  }
  
  .Footer a:hover{
    text-decoration: underline;
  }

  .Explain{
    margin-top: 80vh;
    margin-left: 10vh;
  }

  .explainQuad{
    width: 660px;
    height: 420px;
    color: rgb(27, 61, 11);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:25px;
    align-items: center;
    background-color: rgb(221, 211, 158);
    border-radius: 18px;
  }

  .explainQuad{
    margin-left: 40vh;
    margin-top: -8.7vh;
  }

  .explainQuad h1{
    margin-top: 12vh;
    margin-bottom: 2vh;
  }

  .Explain .Dog{
    margin-left: 40vh;
    width: 300px;
  }