html{
    background-color: rgb(152, 200, 242);
}

.loginBox{
display: flex;
margin-top: 15%;
margin-left: 20%;
}

.login{
background-color: rgb(207, 224, 228);
border-radius: 20px;
width: 400px;
height: 400px;
}

.login form{
margin-top: 12%;
}

.login input{
margin-top: 10%;
margin-left: 24%;
height: 20px;
width: 200px;
border: 1px solid black;
border-radius: 4px;
}

.login button{
margin-top:10%;
margin-left: 40%;
height: 30px;
width: 70px;
background-color: rgb(13, 60, 119);
color: white;
border: 1px solid rgb(13, 60, 119);
}

.loginGraphic img{
width: 600px;
height: 600px;
}

.login h4{
margin-left: 30%;
}