html{
  background-color: rgb(219, 226, 207);
}

.LeftNav{
  display: flex;
}
.Navbar{
  display:flex;
  margin-top: 20px;
  margin-left: 4vw;
}
.NavLink a{
  text-decoration: none;
  font-size: 18px;
  color:black;
  margin-left: 40px;
  font-family: "Playwrite PE";
  font-weight: 400;
}

.HomeLink a{
  text-decoration: none;
  font-size: 19px;
  color: black;
  margin-left: 360px;
  font-family: "Playwrite PE";
  font-weight: 400;
}

.Login,.OfferButton{
width: 80px;
height: 40px;
border:2px solid rgb(0, 69, 101);
border-radius: 20px;
margin-left: 450px;
}

.Login:hover, .OfferButton:hover{
  background-color: rgb(78, 114, 1);
  border:2px solid rgb(78, 114, 1);
  color: white;
  font-family: "Playwrite PE";

}

.HeaderLanding{
  color: rgb(58, 101, 1);
  margin-left: 460px;
  margin-top:280px;
  font-size: 52px;
}

.Offering{
  display: flex;
  margin-top: 50px;
  margin-left: 180px;
}

.OfferButton{
  margin-left: 80px;
  width: 100px;
}

.Services, .Products, .About {
  width: 300px;
  height: 250px;
  margin-right: 50px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.Services{
  background-image: url('/src/assets/petCare.png');
}

.Products{
  background-image: url('/src/assets/paw.png');
}

.About{
  background-image: url('/src/assets/care.png');
}


.OfferDetails{
  display: flex;
  margin-left: 30ch;
}

.OfferDetails .Services, .OfferDetails .Products, .OfferDetails .About{
  margin-top: 40vh;
  border:0px none black;
  background-color: rgb(172, 187, 142);
}

.OfferDetails .ServiceText{
  margin-top:60vh;
  font-size: 42px;
  color: olivedrab;
  font-family: "Playwrite PE";
  width: 600px;
 
}

.OfferDetails .Services:hover, .OfferDetails .Products:hover, .OfferDetails .About:hover
  {
  border:2px dashed olivedrab;
}

.Footer{
  background-color: rgb(31, 74, 1);
  padding: 10px;
}

.Footer a{
  color: white;
  font-size: 17px;
  text-decoration: none;
}

.Footer li{
  text-decoration: none;
}

.Footer ul{
  list-style: none;
}

.Footer a:hover{
  text-decoration: underline;
}

