html{
  background-color: rgb(219, 226, 207);
}

.LeftNav{
  display: flex;
}
.Navbar{
  display:flex;
  margin-top: 20px;
  margin-left: 4vw;
}
.NavLink a{
  text-decoration: none;
  font-size: 18px;
  color:black;
  margin-left: 40px;
  font-family: "Playwrite PE";
  font-weight: 400;
}

.HomeLink a{
  text-decoration: none;
  font-size: 19px;
  color: black;
  margin-left: 360px;
  font-family: "Playwrite PE";
  font-weight: 400;
}

.Login,.OfferButton{
width: 80px;
height: 40px;
border:2px solid rgb(0, 69, 101);
border-radius: 20px;
margin-left: 450px;
}

.Login:hover, .OfferButton:hover{
  background-color: rgb(78, 114, 1);
  border:2px solid rgb(78, 114, 1);
  color: white;
  font-family: "Playwrite PE";

}

.HeaderLanding{
  color: rgb(14, 58, 26);
  font-family: "Playwrite PE";
  margin-left: 290px;
  margin-top:30vh;
  font-size: 60px;
}

.Offering{
  display: flex;
  margin-top: 50px;
  margin-left: 180px;
}

.OfferButton{
  margin-left: 80px;
  width: 100px;
}

.Services, .Products, .About {
  width: 300px;
  height: 250px;
  margin-right: 50px;
  padding: 20px;
  border-radius: 20px;
}

.Services{
  background-image: url('/src/assets/petCare.png');
  background-color:rgba(249, 197, 76, 0.986);

}

.Products{
  background-image: url('/src/assets/paw.png');
  background-color:rgba(241, 244, 246, 0.986);
  border:1px dashed rgb(67, 136, 221);
}

.About{
  background-image: url('/src/assets/care.png');
  background-color:rgba(249, 197, 76, 0.986);

}

.OfferDetails{
  display: flex;
  margin-left: 30ch;
}

.OfferDetails .Services, .OfferDetails .Products, .OfferDetails .About{
  margin-top: 40vh;
  border:0px none black;
}


.OfferDetails .ServiceText{
  margin-top:60vh;
  font-size: 42px;
  color: rgb(14, 58, 26);
  font-family: "Playwrite PE";
  width: 600px;
 
}

.OfferDetails .Services:hover, .OfferDetails .Products:hover, .OfferDetails .About:hover
  {
  border:2px dashed olivedrab;
}

.Footer{
  background-color: rgb(31, 74, 1);
  padding: 10px;
}

.Footer a{
  color: white;
  font-size: 17px;
  text-decoration: none;
}

.Footer li{
  text-decoration: none;
}

.Footer ul{
  list-style: none;
}

.Footer a:hover{
  text-decoration: underline;
}

.Hero{
  margin-top: 160px;
  display:flex;
  margin-left: 80px;
}

.Hero1,.Hero2{
  margin-right:50px;
}

.Quad1{
  padding: 10px;
  background-image:url("./assets/catdog.png");
  width:440px;
  height:500px;
  border-radius: 15px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: rgb(14, 168, 130);
  background-size:340px 300px;
  background-position:right bottom;
}


.Quad2,.Quad3{
  padding: 10px;
  border-radius: 15px;
  height:220px;
  width: 450px;
}

.Quad2{
  background-color:rgba(249, 197, 76, 0.986);
  background-image:url("./assets/goat.png");
  background-size:200px 140px;
  background-repeat: no-repeat;
  margin-bottom: 33px;
  background-position:right bottom;
}

.Quad3{
  background-color:rgba(255, 126, 46, 0.986);
  background-image:url("./assets/cow.png");
  background-size:200px 180px;
  background-repeat: no-repeat;
  margin-bottom: 33px;
  background-position:right bottom;
}

.Quad4{
  margin-top:110px;
  padding: 10px;
  border-radius: 15px;
  height:380px;
  width: 300px;
  background-color:rgba(171, 80, 245, 0.986);
  background-image:url("./assets/horse.png");
  background-size:210px 220px;
  background-repeat: no-repeat;
  background-position:left bottom;
}